*/10 * * * * /usr/local/bin/python /app/src/imports/import_scada_10mn.py
0 */3 * * * /usr/local/bin/python /app/src/imports/import_forecastweather.py
0 */1 * * * /usr/local/bin/python /app/src/imports/import_currentweather.py
