body {
    background-color: #f2f2f2;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  
  
  .pretty_container {
    border-radius: 5px;
    background-color: #f9f9f9;
    margin: 15px;
    padding: 10px;
    position: relative;
    box-shadow: 2px 2px 2px rgb(211, 211, 211);
  }
  
  .flex-align-display {
    display: flex;
    align-items: center;
  }

  .flex-display {
    display: flex;
  }
  
  #dst_image {
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(211, 211, 211);
  }

  .header {
    flex: 1 1 1;
  }

  #title_dash_1 {
    margin-left: 30px;
    font-size: 4vh;
  }

  #title_dash_2 {
    margin-left: 15px;
    font-size: 4vh;
    color: #40e3bd;
  }
  
  #dropdown_1 {
    flex: 1 1 1;
  }

  #dropdown_2 {
    flex: 0.25;
  }

  #date {
    flex: 1;
    text-align:right;
  }
  
  #main_container {
    display: flex;
    flex-direction: column;
  }