body {
    background-color: #f2f2f2;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  
  .two.columns {
    width: 16.25%;
  }
  
  .column,
  .columns {
    margin-left: 0.5%;
  }
  
  .pretty_container {
    border-radius: 5px;
    background-color: #f9f9f9;
    margin: 15px;
    padding: 15px;
    position: relative;
    box-shadow: 2px 2px 2px rgb(211, 211, 211);
  }
  
  .flex-display {
    display: flex;
  }
  
  .container-display {
    display: flex;
    align-items: center;
    
  }
  
  #dst_image {
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(211, 211, 211);
    flex: 1;
  }

  .header {
    display: inline-flex;
    align-items: center;
  }

  #title_dash_1 {
    margin-left: 30px;
    font-size: 4vh;
  }

  #title_dash_2 {
    margin-left: 15px;
    font-size: 4vh;
    color: #40e3bd;
  }

  .top-graph {
    display: flex
  }
  
  .dropdown {
    flex: 0.4;
  }

  #date {
    flex: 1;
    text-align:right;
  }
  
  #main_container {
    display: flex;
    flex-direction: column;
  }